1R-1C model

3R-1C model

5R-1C model (ISO7751)

carpet plot: heating vs cooling

carpet plot: occupancy vs building age

In [21]:
import pandas as pd
import matplotlib.pyplot as plt
import datetime
import numpy as np
import cdecimal as dec
import re as re
import csv
import os, sys
import plotly.plotly as py
from plotly.tools import FigureFactory as FF
import plotly.graph_objs as go

In [17]:
paths = {}
def filepath(filename):
    paths['main'] = "C:\Users\Zghiru\Documents\GitHub\ASF_Simulation\Simulation_Tool\New_SimulationEnvironment\CEA_Archetypes_CH"
    #os.path.abspath(os.path.dirname(sys.argv[0]))
    paths['result'] = os.path.join(paths['main'], filename)  
    return paths['result']

def split_Name_char_num(dataframe):
    occtype=[]
    typenum=[]
    for name in dataframe.Name: 
        match = re.match(r"([a-zA-Z_]+)([0-9]+)", name, re.I)
        if match:
            items = match.groups()
            occtype.append(items[0])
            typenum.append(int(items[1]))
    dataframe['occtype'] = pd.DataFrame(occtype)
    dataframe['typenum'] = pd.DataFrame(typenum)
    dataframe.sort_values(['occtype','typenum'],ascending=[False,True])
    return dataframe

In [160]:
b_props = pd.read_csv(filepath('b_props.csv'))
b_props = b_props[b_props.interval == "2005-2020"]
b_props = b_props[b_props.type=='construction']

cairo_south = pd.read_csv(filepath('Archetypes_Cairo_South.csv'))
cairo_south = split_Name_char_num(cairo_south)
cairo_south = cairo_south.loc[cairo_south['Name'].isin(b_props.Name)]
cairo_south.sort_values(['occtype','typenum'],ascending=[False,True])

zurich_south = pd.read_csv(filepath('Archetypes_Zurich_South.csv'))
zurich_south = split_Name_char_num(zurich_south)
zurich_south = zurich_south.loc[zurich_south['Name'].isin(b_props.Name)]
zurich_south.sort_values(['occtype','typenum'],ascending=[False,True])

,Name,C,E,E_HCL,H,L,PV,occtype,typenum
4,SINGLE_RES5,743.189814,3444.209304,4141.932006,1632.089136,1766.653056,-697.722702,SINGLE_RES,5
50,SCHOOL5,649.031541,820.696347,1525.427013,792.360472,84.035000,-704.730666,SCHOOL,5
22,RETAIL5,1000.988917,1892.718253,2608.506144,595.536887,1011.980340,-715.787891,RETAIL,5
100,RESTAURANT5,1412.420189,1840.804255,2576.718163,544.582724,619.715250,-735.913907,RESTAURANT,5
76,OFFICE5,937.546971,1457.402020,2152.135107,976.806816,237.781320,-694.733087,OFFICE,5
36,MULTI_RES5,800.417356,3457.914539,4157.822834,1560.617128,1796.788350,-699.908295,MULTI_RES,5
45,INDUSTRIAL5,1321.063470,3551.130908,4292.789399,1137.914159,1833.811770,-741.658491,INDUSTRIAL,5
82,HOTEL5,1029.354370,1932.415652,2647.024028,1077.406928,540.262730,-714.608376,HOTEL,5
120,HOSPITAL5,1725.303263,3930.677691,4668.712757,969.753194,1973.656300,-738.035067,HOSPITAL,5
67,GYM5,2579.395660,2913.311691,3672.818733,276.757223,816.665850,-759.507041,GYM,5
58,FOODSTORE5,2394.077315,2652.250280,3353.748443,677.045988,282.625140,-701.498162,FOODSTORE,5

In [161]:
zurich = go.Scatter(
    x=zurich_south.Name,
    y=zurich_south.E_HCL,
    fill='tonexty',
    name='Zurich_South'
)
cairo = go.Scatter(
    x=cairo_south.Name,
    y=cairo_south.E_HCL,
    fill='tonexty',
    name='Cairo_South'
)

data = [zurich,cairo]

layout = go.Layout(
    title='E_HCL',
    xaxis=dict(
        title='Archetype',
        titlefont=dict(
            family='Courier New, monospace',
            size=18,
            color='#7f7f7f'
        )
    ),
    yaxis=dict(
        title='MWH/year',
        titlefont=dict(
            family='Courier New, monospace',
            size=18,
            color='#7f7f7f'
        )
    )
)
fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='new')

In [133]:
def sinplot(flip=1):
    x = np.linspace(0, 14, 100)
    for i in range(1, 7):
        plt.plot(x, np.sin(x + i * .5) * (7 - i) * flip)
    
import seaborn as sns
sinplot()